.container{
    border: 1px solid brown ;
    background: yellow;
    height: 700px ;
    width: 600px;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    display: grid;
    /* justify-content: start ;
    justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: ; */
    
    align-content: space-evenly;

}
.box{
border: 1px solid red;
background-color: aqua;
}
